body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #000;
  padding: 0.5em 0;
}

#logo {
  width: 25em;
  float: left;
}

.nav {
  list-style: none;
  width: 43em;
  display: inline-block;
}

.nav > li {
  display: inline-block;
  margin: 0 1em 0 0.5em;
}

.nav > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 4px;
}

.nav > li > a:hover {
  border-bottom: 1px solid #dee239;
}

#slider {
  cursor: move;  
  overflow: hidden; 
  left: 125px; 
  top: 50px; 
  width: 900px; 
  height: 600px; 
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #000;
  color: #dee239;
  padding: 2em 0;
}

footer p {
  opacity: 0.3;
}

.footer-section {
  text-align: center;
}

.web {
  text-decoration: none;
  color: #dee239;
}

.content {
  padding-top: 5em;
}

.fotorama {
  padding: 3em 0;
  width: 1140px;
  display: block;
  margin: 0 auto;
}

#engage-gallery {
  width: 960px;
  display: block;
  margin: 0 auto;
  padding: 6em 0;
}

#engage-gall {
  width: 680px;
}

#portrait-gallery {
  width: 500px;
}

.facebook {
  width: 2em;
}

.facebook:hover {
  border-bottom: 1px solid #dee239;
  padding-bottom: 10px;
}

header h1 {
  font-family: 'Poiret One', cursive;
  color: #D9CB1A;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: 300;
}

header span {
  font-family: 'Allura', cursive;
}

.logo-font {
  text-decoration: none;
}